:root {
  --bg-color: white;
  --text-color: black;
  --text-white: white;
  --toggle-color: rgba(249, 115, 22, var(--tw-bg-opacity, 1));
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow: hidden;
  color: var(--text-white);
}

.grid-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.3) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 1px, transparent 1px);
  background-size: 80px 80px;
  z-index: -1;
}

.button {
  transition: all 0.45s ease;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  font-family: Arial, sans-serif;
}

.live {
  background-color: white;
  color: white;
  font-weight: bold;
}

.content {
  display: none;
}

.button:not(.live) {
  background-color: #ff8614;
  color: white;
  border: 2px solid white;
  font-weight: bold;
}

.button:is(.live) {
  background-color: white;
  color: #ff8614;
  border: 2px solid #ff8614;
}

.button:is(.live) div {
  display: inline-flex;
  background-color: #f4b67d;
  opacity: 50;
}

.button:hover:not(.live) {
  background: #ff8614;
  color: white;
  border: 2px solid white;
}

.content.live {
  display: block;
}

.tabs-container {
  @apply w-[600px] h-[500px] border-2 border-orange-500 bg-orange-500 rounded-xl relative;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.tabs {
  @apply flex space-x-4 text-black border-b-2 border-orange-500;
}

.content {
  @apply flex items-center justify-center text-center rounded-lg p-4;
  width: 100%;
  height: 100%;
  /* Ensure it fills the container */
  box-sizing: border-box;
  overflow: hidden;
  /* Prevent content overflow */
}

.content.live {
  @apply block;
}

.content:not(.live) {
  @apply hidden;
}